<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- PERMISOS DE RED -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- PERMISOS DE UBICACIÓN (Dejamos listos para el futuro) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- PERMISOS DE NOTIFICACIONES -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaruPetcare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.mascotas.CrearDuenoMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.citas.CrearCitaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mascotas.AddMascotaActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.mascotas.DetalleMascotaActivity"
            android:exported="false"
            android:theme="@style/Theme.HaruPetcare" /> <!-- CAMBIO 1: A true para que funcione tu IP local -->
        <!--
 IMPORTANTE: He quitado android:name=".HaruApp" temporalmente.
             Si ya tienes esa clase creada, vuélvela a poner. Si no, la app crashea nada más abrir.
        -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"> <!-- CAMBIO 2: A true. OBLIGATORIO para el MAIN/LAUNCHER -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Servicio FCM -->
        <service
            android:name=".service.HaruFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Canal de notificaciones por defecto -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="haru_alertas_channel" /> <!-- Color e icono por defecto de las notificaciones -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/haru_brown" />
    </application>

</manifest>